# backend/.env.example

SECRET_KEY='django-insecure-*****************************************)r'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://pos_admin:Pos******123@localhost:5432/pos_dev

ECOMMERCE_ORGANIZATION_ID=39*************************************10
ECOMMERCE_FULFILLMENT_BRANCH_ID=a0*********************************46